<section>
    <div class="about-container small-wrapper">
        <h2>ABOUT</h2>

        <div class="text-col">
            <p>My name is Rolando Lopantzi, I am currently working towards being front-end developer. My mission is to build immersive and beautiful web applications through carefully crafted code and user-centric design. I enjoy learning and improving my skills to stay up to date the with the latest trend and technology out there.

                My goal is to elevate companies like yours through the power of design. I am here to help you effectively convey your message and make a positive impact. Let's bring your vision to life!
            </p>
        </div>

    </div>
</section>

<style>
    section{
        background-color: var(--charcoal);
        color: var(--oatmeal);
    }
</style>