<section>
    <div class="about-container small-wrapper">
        <h2>ABOUT</h2>

        <div class="text-col">
            <p>My name is Rolando Lopantzi, my goal is to elevate companies like yours through the power of design. I am here to help you effectively convey your message and make a positive impact. Let's work together and bring your vision to life!
            </p>
        </div>

    </div>
</section>

<style>
    section{
        background-color: var(--charcoal);
        color: var(--oatmeal);
    }
</style>