---
import headerLogo from '../assets/images/RL_logo2018.svg';
// import headerLogo from '../assets/images/RL_favicon-2018.png';
---


<header id="header">
    <div class="header-container wrapper">
        <a href="#" class="logo" title="logo" aria-label="Rolando Lopantzi logo">
            <!-- <img src={headerLogo.src} alt="RL logo" class="pics"> -->
             ROLANDO<br />LOPANTZI
        </a>

        <nav class="header-nav">
            <ul>
                <li>
                    <a href="" title="Web" aria-label="Web section link">WEB</a>
                </li>
                <li>
                    <a href="" title="Graphics" aria-label="Graphics section link">GRAPHICS</a>
                </li>
                <li>
                    <a href="" title="About" aria-label="About section link">ABOUT</a>
                </li>
                <li>
                    <a href="" title="Contact" aria-label="Contact section link">CONTACT</a>
                </li>
            </ul>
        </nav>

        <div class="header-social-icons">
            <a href="" title="Email" aria-label="Email link"><i class="fa-regular fa-envelope"></i></a>
            <a href="" title="LinkedIn" aria-label="Linkedin link"><i class="fa-brands fa-linkedin"></i></a>
            <a href="" title="Github" aria-label="Github link"><i class="fa-brands fa-github"></i></a>
        </div>

        <button tabindex="0" class="mobile-el hamburger-btn">
            <span class="hamburger-icon"></span>
        </button>
    </div>
</header>

<style>
    header{
        padding: 1.25rem 0;
        background-color: var(--charcoal);
    }
    .header-container{
        display: flex;
        align-items: center;
    }
    /* .logo{
        max-width: 190px;
        display: block;
        margin-right: 7rem;
    } */
     .logo{
        color: var(--oatmeal);
        font-family: "Oswald", sans-serif;
        font-weight: 900;
        font-size: 1.25rem;
        margin-right: 7rem;
        letter-spacing: 1.25px;
        line-height: 1.15;
     }
    .header-nav ul li{
        display: inline-block;
        margin-right: 2rem;
        font-weight: 500;
    }
    .header-nav ul li:last-child{margin-right: 0;}
    .header-nav ul li a{
        color: var(--oatmeal);
        font-size: 1.125rem;
        letter-spacing: 1px;
    }
    .header-social-icons{
        margin-left: auto;
        margin-right: 0;
        display: flex;
        gap: 0 1.5rem;
    }
    .header-social-icons a{
        color: var(--oatmeal);
        font-size: 1.5rem;
    }

    @media screen and (min-width: 922px){
        .header-nav ul li a:hover,
        .header-social-icons a:hover{color: var(--fruit-punch);}
    }
    @media (max-width: 921px) {
        .header-nav ul li a:active,
        .header-social-icons a:active{color: var(--fruit-punch);}
    }
</style>