<section>
    <div class="hero-container wrapper">
        <div class="col text-col">
            <div data-aos="fade-right" data-aos-delay="800">
                 <h1>Hi! I'm Rolando Lopantzi, a Designer & Web Developer.</h1>

                <p>Creating seamless designs and high-impact web and graphic solutions that drive results. Let's work together and make it happen.</p>

                <a href="#contact" title="Get in Touch" aria-label="Get in touch link" class="cta">Get in Touch</a>
            </div>
        </div>
        <div class="col img-col"></div>
    </div>
</section>

<style>
    section{margin-top: 4rem;}
    .hero-container{
        display: flex;
        justify-content: space-between;
    }
    .hero-container .text-col{
        width: 58%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 7rem;
    }
    .text-col h1{
        font-size: 3.125rem;
        margin-bottom: 8px;
        text-transform: uppercase;
        line-height: 1.2;
    }
    .text-col p{
        font-size: 1.35rem;
        line-height: 1.4;
        margin: 3rem 0;
    }
    .hero-container .img-col{
        width: 38%;
        height: 600px;
        background-image: url('../assets/images/selfie.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 25px 150px 25px 150px;
        /* border-radius: 15px; */
        border: 1px solid var(--fruit-punch);
        box-shadow: rgba(242, 92, 84, 0.4) 5px 5px,  
        rgba(242, 92, 84, 0.3) 10px 10px,  
        rgba(242, 92, 84, 0.2) 15px 15px,  
        rgba(242, 92, 84, 0.1) 20px 20px,  
        rgba(242, 92, 84, 0.05) 25px 25px;
    }

    @media screen and (max-width: 1300px){
        .hero-container .text-col{
            width: 53%;
            padding-right: 4rem;
        }
        .hero-container .img-col{width: 45%;}
    }
    @media screen and (max-width: 1095px){
        .hero-container{
            flex-direction: column;
            gap: 3.5rem 0;
        }
        .hero-container .text-col{
            width: 100%;
            padding-right: 0;
            order: 2;
        }
        .hero-container .img-col{
            order: 1;
            height: 350px;
            width: 350px;
            border-radius: 250px;
            margin: 0 auto;
        }
        .text-col h1, .text-col p{text-align: center;}
        .text-col .cta{margin-left: auto;margin-right: auto;}
    }
    @media screen and (max-width: 480px){
        .hero-container .img-col{
            width: 225px;
            height: 225px;
            box-shadow: rgba(242, 92, 84, 0.4) 2px 2px,  
            rgba(242, 92, 84, 0.3) 7px 7px,  
            rgba(242, 92, 84, 0.2) 12px 12px,  
            rgba(242, 92, 84, 0.1) 17px 17px,  
            rgba(242, 92, 84, 0.05) 22px 22px;
        }
    }
</style>