<section>
    <div class="hero-container wrapper">
        <div class="col text-col">
            <div data-aos="fade-right" data-aos-delay="800">
                 <h1>Hi! I'm Rolando Lopantzi, a Designer & Web Developer.</h1>

                <p>Providing seamless designs, powerful impact web & graphics that drive results. Let's work together and make it happen.</p>

                <a href="#contact" title="Get in Touch" aria-label="Get in touch link" class="cta">Get in Touch</a>
            </div>
        </div>
        <div class="col img-col"></div>
    </div>
</section>

<style>
    /* section{padding: 5rem 0;} */
    .hero-container{
        display: flex;
        justify-content: space-between;
    }
    .hero-container .text-col{
        width: 58%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 7rem;
    }
    .text-col h1{
        font-size: 3.125rem;
        /* font-size: 3.5rem; */
        margin-bottom: 8px;
        text-transform: uppercase;
        line-height: 1.2;
    }
    /* .text-col h2{
        text-transform: initial;
        font-size: 1.65rem;
        line-height: 1.4;
        letter-spacing: 0;
        font-weight: 400;
        margin-bottom: 3rem;
    } */
    .text-col p{
        font-size: 1.35rem;
        line-height: 1.4;
        margin: 3rem 0;
    }
    /* .text-col p{ 
        font-size: 1.125rem;
        line-height: 1.65;
        margin-bottom: 3rem;
    } */
    .hero-container .img-col{
        width: 38%;
        height: 600px;
        background-image: url('../assets/images/selfie.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 25px 150px 25px 150px;
        /* border-radius: 15px; */
        border: 1px solid var(--fruit-punch);
        box-shadow: rgba(242, 92, 84, 0.4) 5px 5px,  
        rgba(242, 92, 84, 0.3) 10px 10px,  
        rgba(242, 92, 84, 0.2) 15px 15px,  
        rgba(242, 92, 84, 0.1) 20px 20px,  
        rgba(242, 92, 84, 0.05) 25px 25px;
    }
</style>