<section>
    <div class="hero-container wrapper">
        <div class="col text-col">
            <div>
                <h1>Nice to meet you!</h1>
                <h2>My name is Rolando Lopantzi, I'm a <br />Graphic Designer and Front-end Developer.</h2>

                <p>Ready to help elevate companies like yours through the power of design and to effectively convey your message and make a positive impact. Let's work together and bring your vision to life!</p>

                <a href="#contact" title="Get in Touch" aria-label="Get in touch link" class="cta">Get in Touch</a>
            </div>
        </div>
        <div class="col img-col"></div>
    </div>
</section>

<style>
    /* section{padding: 5rem 0;} */
    .hero-container{
        display: flex;
        justify-content: space-between;
    }
    .hero-container .text-col{
        width: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 8rem;
    }
    .text-col h1{
        font-size: 3.5rem;
        margin-bottom: 8px;
    }
    .text-col h2{
        font-size: 1.65rem;
        line-height: 1.4;
        letter-spacing: 0;
        font-weight: 400;
        margin-bottom: 3rem;
    }
    .text-col p{
        font-size: 1.125rem;
        line-height: 1.65;
        margin-bottom: 3rem;
    }
    .hero-container .img-col{
        width: 40%;
        height: 600px;
        background-image: url('../assets/images/selfie.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 15px;
        border: 1px solid var(--fruit-punch);
        box-shadow: rgba(242, 92, 84, 0.4) 5px 5px,  
        rgba(242, 92, 84, 0.3) 10px 10px,  
        rgba(242, 92, 84, 0.2) 15px 15px,  
        rgba(242, 92, 84, 0.1) 20px 20px,  
        rgba(242, 92, 84, 0.05) 25px 25px;
    }
</style>