<section>
    <div class="qualities-container wrapper">
        <div class="col img-col"></div>
        <div class="col text-col">
            <div>
                <h2>Qualifications</h2>
                <ul>
                    <li>
                        
                        <p>Proficient in building optimized, responsive, and ADA compliant websites, ensuring high usability and accessibility standards.</p>
                    </li>
                    <li>
                        <p>Experienced in troubleshooting web issues and effectively communicating findings to clients and team members.</p>
                    </li>
                    <li>
                        <p>Familiar with customer and client business operations, strategic planning, and process development.</p>
                    </li>
                    <li>
                        <p>Proficient in fostering collaboration with teams to achieve measurable success.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<style>
    .qualities-container{
        display: flex;
        gap: 2rem;
        justify-content: space-between;
    }
    .qualities-container .img-col{
        width: 53%;
        height: 500px;
        background-image: url('../assets/images/quality-img.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .qualities-container .text-col{
        width: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>