<section>
    <div class="qualities-container wrapper">
        <div class="col img-col"></div>
        <div class="col text-col">
            <h2>Qualifications</h2>
        </div>
    </div>
</section>

<style>

</style>