<section>
    <div class="qualities-container wrapper">
        <div class="col img-col"></div>
        <div class="col text-col">
            <div>
                <h2>Your Success, My Skills</h2>
                <ul>
                    <li>
                        <i class="fa-solid fa-circle"></i>
                        <p>Creative and results-driven web designer specializing in seamless, high-converting designs that enhance user engagement and drive business growth.</p>
                    <li>
                        <i class="fa-solid fa-circle"></i>
                        <p>Proficient in building optimized and ADA compliant websites, ensuring high usability and accessibility standards.</p>
                    </li>
                    <li>
                        <i class="fa-solid fa-circle"></i>
                        <p>Passionate about staying ahead of industry trends to deliver innovative and strategic design solutions.</p>
                    </li>
                    <li>
                        <i class="fa-solid fa-circle"></i>
                        <p>Proficient in fostering collaboration with teams to achieve measurable success.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<style>
    section{
        background-color: var(--charcoal);
        color: var(--oatmeal);
    }
    .qualities-container{
        display: flex;
        gap: 2rem;
        justify-content: space-between;
    }
    .qualities-container .img-col{
        width: 40%;
        height: 500px;
        background-image: url('../assets/images/quality-img.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        background-color: rgba(247, 237, 231, 0.08);
        border-radius: 100px 200px 100px 200px;
    }
    .qualities-container .text-col{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text-col ul li{
        display: flex;
        gap: 0 10px;
        align-items: flex-start;
        margin-bottom: 1rem;
    }
    .text-col ul li:last-child{margin-bottom: 0;}
    .text-col ul li i{
        padding-top: 7px;
        font-size: 0.5rem;
    }
    @media screen and (max-width: 1126px){
        .qualities-container .img-col{
            width: 35%;
            height: 350px;
            border-radius: 150px;
        }
        .qualities-container .text-col{width: 57%;}
    }
    @media screen and (max-width: 922px){
        .qualities-container{
            gap: 3.5rem 0;
            flex-direction: column;
        }
        .qualities-container .img-col{
            height: 275px;
            width: 275px;
            order: 2;
            margin: 0 auto;
        }
        .qualities-container .text-col{width: 100%;}
        .text-col h2{text-align: center;}
    }
</style>