<section>
    <div class="tech-container small-wrapper">
        <h2>TECHNOLOGIES</h2>
    </div>
</section>

<style>
    section{
        /* background: linear-gradient(to right,  
        rgb(251, 246, 234) 2%,  
        #F25C54 50%,  
        rgb(251, 246, 234) 98%); */
        background-color: var(--oatmeal);
    }
    .tech-container h2{text-align: center;}
</style>