<section id="web">
    <div class="web-container wrapper">
        <h2>Web Design & Development</h2>

        <div class="web-card-container">

            <div class="web-card" data-aos="fade-up" data-aos-delay="800">
                <div class="img-container color-one">
                    <div class="col large-col web-one-a"></div>
                    <div class="col small-col web-one-b"></div>
                </div>
                <div class="site-info">
                    <h3>Bani Bakery</h3>
                    <ul>
                        <li>Web Design</li>
                        <li>Web Development</li>
                        <li>Copywriting</li>
                        <li>Graphic Design</li>
                    </ul>
                </div>
            </div>
            <div class="web-card" data-aos="fade-up" data-aos-delay="800">
                <div class="img-container color-three">
                    <div class="col large-col web-three-a"></div>
                    <div class="col small-col web-three-b"></div>
                </div>
                <div class="site-info">
                    <h3>Omnifood</h3>
                    <ul>
                        <li>Web Development</li>
                        <li>Graphic Design</li>
                    </ul>
                </div>
            </div>
            <div class="web-card" data-aos="fade-up" data-aos-delay="800">
                <div class="img-container color-two">
                    <div class="col large-col web-four-a"></div>
                    <div class="col small-col web-four-b"></div>
                </div>
                <div class="site-info">
                    <h3>BZNZ - template</h3>
                    <ul>
                        <li>Web Design</li>
                        <li>Template for Sale</li>
                        <li>Web Development</li>
                    </ul>
                </div>
            </div>
            <div class="web-card" data-aos="fade-up" data-aos-delay="800">
                <div class="img-container color-one">
                    <div class="col large-col web-two-a"></div>
                    <div class="col small-col web-two-b"></div>
                </div>
                <div class="site-info">
                    <h3>Technaprint</h3>
                    <ul>
                        <li>Web Design</li>
                        <li>Web Development</li>
                        <li>Copywriting</li>
                        <li>Graphic Design</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

<style>
    .web-card-container{
        display: flex;
        flex-direction: column;
        gap: 2.5rem 0;
    }
    .web-card .img-container{
        display: flex;
        gap: 1.5rem;
        align-items: flex-end;
        height: 575px;
        padding: 2.5rem 2.5rem 0 2.5rem;
        border-radius: 15px;
        margin-bottom: 1.125rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .web-card .color-one{background-color: var(--fruit-punch);}
    .web-card .color-two{background-color: var(--charcoal);}
    .web-card .color-three{background-color: var(--oatmeal);}
    .web-card .color-four{background-color: var(--blue);}
    .web-card .img-container .col{
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        height: 100%;
        border-radius: 13px 13px 0 0;
    }
    .site-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .site-info h3{font-size: 1.5rem;}
    .site-info ul{
        display: flex;
        gap: 0 1rem;
    }
    .site-info ul li{
        padding: 10px 1rem;
        border-radius: 5px;
        background-color: var(--oatmeal);
    }
    .web-card .img-container .large-col{width: 70%;}
    .web-card .img-container .small-col{width: 32%;}
    .web-one-a{background-image: url('../assets/images/hero-one-shot.png');}
    .web-one-b{background-image: url('../assets/images/banibakery_site.png');}
    .web-two-a{background-image: url('../assets/images/techna-hero.png');}
    .web-two-b{background-image: url('../assets/images/technaprint_site.webp');}
    .web-three-a{background-image: url('../assets/images/omni_hero.png');}
    .web-three-b{background-image: url('../assets/images/omni_site.webp');}
    .web-four-a{background-image: url('../assets/images/bznz_hero.webp');}
    .web-four-b{background-image: url('../assets/images/bznz_site.webp');}

    @media screen and (max-width: 1226px){
        .web-card .img-container{
            height: 450px;
            padding: 1.75rem 1.75rem 0 1.75rem;
        }
    }
    @media screen and (max-width: 1095px){
        .site-info{
            flex-wrap: wrap;
            gap: 0.5rem 0;
        }
        .site-info h3{width: 100%;}
    }
    @media screen and (max-width: 922px){
        .web-card .img-container{height: 300px;}
        .web-container h2{text-align: center;}
    }
    @media screen and (max-width: 825px){
        .web-card .img-container .small-col{display: none;}
        .web-card .img-container .large-col{width: 100%;}
        .site-info{display: none;}
        .web-card .img-container{
            margin-bottom: 0;
            border-radius: 10px;
        }
        .web-card-container{gap: 1rem 0;}
    }
    @media screen and (max-width: 480px){
        .web-card .img-container{height: 275px;}
        .web-card .img-container .col{
            border-radius: 7px 7px 0 0;
        }
    }
</style>