---
	import 'aos/dist/aos.css';
	import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/rl_favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Rolando Lopantzi | Web Design & Development</title>
		<meta property="og:title" content="Rolando Lopantzi | Web Design & Development">

		<!-- <title>Custom Web Design & Development | Orange County Web Developer</title>
		<meta property="og:title" content="Custom Web Design & Development | Orange County Web Developer"> -->

		<meta property="og:type" content="website">
		<meta property="og:description" content="Professional web design and development for small businesses in Orange County. Custom websites tailored to your needs. Get your site today!">
		<!-- <meta property="og:image" content="https://yourwebsite.com/image.jpg"> -->
		<meta property="og:url" content="https://rolandolopantzi.com/">

		<meta name="description" content="Professional web design and development for small businesses in Orange County. Custom websites tailored to your needs. Get your site today!">
		<meta name="keywords" content="web developer, web designer, front-end developer, UI/UX designer, small business websites, custom websites, Orange County, landing pages, JavaScript, HTML">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	</head>
	<body>
		<slot />

		<script>
			import AOS from "aos";
			AOS.init();
		</script>
	</body>
</html>

